<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Publicaciones 2014 - Laboratorio de Lingüística Informática</title>
    <meta charset="utf-8" />
    <meta name=keywords content="laboratorio, lingüística informática, lingüística computacional, Universidad Autónoma de Madrid, UAM, LLI, Instituto de Ingeniería del Conocimiento, IIC, Facultad de Filosofía y Letras, Ministerio de ciencia e innovación, investigación, procesamiento del lenguaje natural, NLP, PLN, publicaciones, Antonio Moreno Sandoval, Nuria Aldama García, Carlos Herrero Zorita, Paula Gozalo Gómez, Doaa Samy, Emi Takamori, errores léxicos español no nativo, análisis interlingua, errores pragmático-discursivos, español lengua extranjera, corpus oral español, análisis de opinión, análisis de sentimiento"/>
    <meta name=description content=""/>
    <meta name="viewport" content="width=1440, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="img/shortcut-icon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/plantilla-publicaciones.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="plantilla-publicaciones" />
    <div class="container-center-horizontal">
      <div class="plantilla-publicaciones screen">
        <header class="header">
          <div class="overlap-group">
            <a class="navbar-link estado" href="./home.html">
              <img tabindex="0" class="logo_uam_lli" src="img/logo-uam-lli@2x.png" alt="Ir a la página principal del Laboratorio de Lingüística Informática"/>
            </a>
            <div class="navbar enlace">
              <div class="navbar-link">
                <a class="navbar-link estado-header" href="./antecedentes.html"><span tabindex="0">Información</span></a>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado-header" href="./recursos.html"><span tabindex="0">Recursos</span></a>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado-header" href="./proyectos.html"><span tabindex="0">Proyectos</span></a>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado-header" href="./publicaciones.html"><font color="#4b782e;"><span tabindex="0">Publicaciones</span></font></a>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado-header" href="./personal.html"><span tabindex="0">Personal</span></a>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado-header" href="./actualidad.html"><span tabindex="0">Actualidad</span></a>
              </div>
            </div>
          </div>
        </header>
        <div class="h1">
          <h1 class="h1-1 titulosh1">PUBLICACIONES 2014</h1>
          <img class="linea" src="img/line-3.svg" alt="" />
        </div>
        <div class="texto_publicaciones">
          <p class="columna-1">
            <span class="negrita">CAMPILLOS LLANOS, L.</span> (2014) 
              &#34;Errores léxicos en el español oral no nativo: análisis de la interlengua
            basado en corpus&#34;. <span class="cursiva">ELUA - Estudios de Lingüística Universidad de Alicante</span>, 28. ISSN: 0212-7636. <a class="estado" href="https://doi.org/10.14198/ELUA2014.28.04" target="_blank"><span tabindex="0">https://doi.org/10.14198/ELUA2014.28.04</span></a> <a href="https://rua.ua.es/dspace/bitstream/10045/48502/1/ELUA_28_04.pdf" target="_blank"><img tabindex="0" src="img/pdf-icon.png" alt="acceso directo a PDF" title="acceso directo a PDF" height="20"></a><br /><br />
            <span class="negrita">CAMPILLOS LLANOS, L.</span> (2014) 
              <a class="estado" href="https://www.euppublishing.com/loi/cor" target="_blank"><span tabindex="0">&#34;A Spanish oral learner corpus for computer-aided error
              analysis&#34;</span></a>. <span class="cursiva">Corpora</span>, 9(2), pp. 207–238. ISSN: 1749-5032.<br /><br />
            <span class="negrita">CAMPILLOS LLANOS, L.</span> (2014)
              &#34;Análisis de errores pragmático-discursivos en un corpus oral de español como lengua extranjera&#34;.
              <span class="cursiva">Círculo de Lingüística Aplicada a la Comunicación (CLAC)</span>, 58, pp. 23-59. ISSN: 1576-4737. <a class="estado" href="http://dx.doi.org/10.5209/rev_CLAC.2014.v58.45469"><span tabindex="0">http://dx.doi.org/10.5209/rev_CLAC.2014.v58.45469</span></a> <a href="https://revistas.ucm.es/index.php/CLAC/article/view/45469/42753" target="_blank"><img tabindex="0" src="img/pdf-icon.png" alt="acceso directo a PDF" title="acceso directo a PDF" height="20"></a><br /><br />
            <span class="negrita">CAMPILLOS LLANOS, L.</span> (2014) 
              <a class="estado" href="https://revistas.nebrija.com/revista-linguistica/article/view/221" target="_blank"><span tabindex="0">&#34;Las preposiciones en el habla no nativa de nivel intermedio: análisis de la interlengua basado en corpus</span>&#34;</a>.
              <span class="cursiva">Revista Nebrija de Lingüística Aplicada a la Enseñanza de las Lenguas</span>, 8(1), 5-27. ISSN: 1699-6569. <a href="https://www.nebrija.com/revista-linguistica/files/articulosPDF/articulo_52f75b4406331.pdf" target="_blank"><img tabindex="0" src="img/pdf-icon.png" alt="acceso directo a PDF" title="acceso directo a PDF" height="20"></a><br /><br />
            <span class="negrita">CAMPILLOS LLANOS, L.</span> (2014) 
              &#34;La expresión oral en español como lengua extranjera: interlengua y análisis de
            errores basado en corpus&#34; (Resumen de tesis doctoral). <span class="cursiva">Procesamiento del Lenguaje Natural</span>, 52, pp.
            91-92. ISSN: 1989-7553. <a href="pdf/2014-Campillos_Llanos.pdf" target="_blank"><img tabindex="0" src="img/pdf-icon.png" alt="acceso directo a PDF" title="acceso directo a PDF" height="20"></a><br /><br />
            <span class="negrita">CAMPILLOS LLANOS, L. , y P. GOZALO GÓMEZ</span> (2014) 
              <a class="estado" href="https://link.springer.com/chapter/10.1007/978-3-319-06007-1_11" target="_blank"><span tabindex="0">&#34;Oral production of
            discourse markers by intermediate learners of Spanish: a corpus perspective&#34;</span></a>. En J. Romero-Trillo (ed.)
            <span class="cursiva">Yearbook of Pragmatics and Corpus Linguistics 2014: New Empirical and Theoretical Paradigms</span>, pp. 239-259.
            New York: Springer. ISBN: 978-3-319-06006-4. DOI: 10.1007/978-3-319-06007-1_11. <a href="pdf/2014-Campillos-Llanos_Paula-Gozalo_978-3-319-06007-1_11.pdf" target="_blank"><img tabindex="0" src="img/pdf-icon.png" alt="acceso directo a PDF" title="acceso directo a PDF" height="20"></a>
          </p>
          <p class="columna-2">
            <span class="negrita">HERRERO ZORITA, C.</span> (2014)
            <a class="estado" href="https://www.ucm.es/emel14" target="_blank"><span tabindex="0">&#34;Deontic modality markers in a Spanish spoken corpus&#34;</span></a>. <span class="cursiva">International Conference
            on Evidentiality and Modality in European Languages (EMEL 14)</span>. Madrid, Universidad Complutense. 6-8 de
            octubre de 2014.<br /><br />
            <span class="negrita">HERRERO ZORITA, C.</span> (2014)
            &#34;The presence of modal periphrastic constructions
            in the Spanish formal and informal spoken discourse&#34;. Poster presentado en el <span class="cursiva">6º Congreso Internacional
            de Lingüística de Corpus (6th International Conference on Corpus Linguistics - CILC 2014)</span>. Las Palmas de
            Gran Canaria, 22-24 de mayo de 2014.<br /><br />
            <span class="negrita">HERRERO ZORITA, C., L. CAMPILLOS LLANOS, y A. MORENO SANDOVAL</span> (2014)
              <a class="estado" href="http://rua.ua.es/dspace/handle/10045/35765" target="_blank"><span tabindex="0">&#34;Collecting and POS-tagging a lexical resource of Japanese biomedical terms from a corpus&#34;</span></a>. <span class="cursiva">Procesamiento del Lenguaje Natural</span>, 52, pp. 29-36. ISSN: 1989-7553. <a href="pdf/2014_Herrero-Zorita_Campillos-Llanos_Moreno_Sandoval.pdf" target="_blank"><img tabindex="0" src="img/pdf-icon.png" alt="acceso directo a PDF" title="acceso directo a PDF" height="20"></a><br /><br />
            <span class="negrita">MORENO SANDOVAL, A.</span> (2014)
            &#34;Desafíos de y para la lingüística de corpus&#34;. <span class="cursiva">Estudios lingüísticos hispánicos</span>, 29, pp.
            69-85. ISSN: 0914-9228.<br /><br />
            <span class="negrita">MORENO SANDOVAL, A.</span> (2014)
              Análisis de opinión y contenido en los medios
            sociales</a>. <span class="cursiva">Libro blanco 1, Instituto de Ingeniería del Conocimiento</span>. DOI: 10.13140/2.1.3585.7928. <a class="estado" href="http://www.lllf.uam.es/ESP/pdf/Moreno-Sandoval_Analisis_opinion.pdf" target="_blank"><img tabindex="0" src="img/pdf-icon.png" alt="acceso directo a PDF" title="acceso directo a PDF" height="20"></a><br /><br />
            <span class="negrita">MORENO SANDOVAL, A., L. CAMPILLOS LLANOS, C. HERRERO ZORITA, J. M. GUIRAO MIRAS, A. GONZÁLEZ MARTÍNEZ, D. SAMY y E.
            TAKAMORI</span> (2014) 
              <a class="estado" href="https://dialnet.unirioja.es/servlet/articulo?codigo=8227081" target="_blank"><span tabindex="0">&#34;An online tool for enhancing NLP of a biomedical corpus&#34;</span></a>. <span class="cursiva">6º Congreso Internacional
            de Lingüística de Corpus (6th International Conference on Corpus Linguistics - CILC 2014)</span>. Las Palmas de
            Gran Canaria, 22-24 de mayo de 2014.
          </p>
        </div>
        <footer class="footer-largo">
          <div class="overlap-group1">
            <div class="div_footer"></div>
            <p class="texto_footer textosfooter">
              Laboratorio de Lingüística Informática<br />C/ Francisco Tomás y Valiente, 1<br />Universidad Autónoma de
              Madrid<br />Ciudad Universitaria de Cantoblanco, 28049 Madrid<br />Web diseñada por Claudia Moreno Olmeda <a class="estado" href="https://www.instagram.com/_claugraf/" target="_blank"><span tabindex="0">(_claugraf) <img src="img/instagram-icon.png" alt="Ver perfil de Instagram" title="Ver perfil de Instagram" height="17"></span></a>
            </p>
            <img class="img_catedra" src="img/logo_catedra.png" alt="Cátedra de Lingüística Computacional UAM-IIC" title="Cátedra Lingüística Computacional UAM-IIC"/>
            <img class="img_icc" src="img/img-icc@2x.png" alt="Instituto de Ingeniería del Conocimiento (IIC)" title="Instituto de Ingeniería del Conocimiento (IIC)"/>
            <img
              class="img_logos_institucionales"
              src="img/img-logos-institucionales@2x.png"
              alt="Logos institucionales: Ministerio de Ciencia e Innovación / Financiado por la Unión Europea / Plan de Recuperación, Transformación y Resiliencia / Agencia Estatal de Investigación" title="Logos institucionales: Ministerio de Ciencia e Innovación / Financiado por la Unión Europea / Plan de Recuperación, Transformación y Resiliencia / Agencia Estatal de Investigación"
            />
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
