<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Herramientas y modelos - Laboratorio de Lingüística Informática</title>
    <meta charset="utf-8" />
    <meta name=keywords content="laboratorio, lingüística informática, lingüística computacional, Universidad Autónoma de Madrid, UAM, LLI, Instituto de Ingeniería del Conocimiento, IIC, Facultad de Filosofía y Letras, Ministerio de ciencia e innovación, investigación, procesamiento del lenguaje natural, NLP, PLN, modelos, herramientas lingüísticas, herramientas para manejo de corpus, extractor de términos financieros, simplificador."/>
    <meta name=description content="EN el Laboratorio de Lingüística Informática (LLI) se han desarrollado herramientas de manejo de corpus, de extracción de términos médicos y financieros, de simplificación léxica y de análisis sintáctico y lematización, entre otras."/>
    <meta name="viewport" content="width=1440, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="img/shortcut-icon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/herramientas.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="herramientas" />
    <div class="container-center-horizontal">
      <div class="herramientas screen">
        <header class="header" role="banner">
          <div class="overlap-group-1">
            <a class="navbar-link estado" href="./home.html">
              <img tabindex="0" class="logo_uam_lli" src="img/logo-uam-lli@2x.png" alt="Ir a la página principal del Laboratorio de Lingüística Informática"/>
            </a>
            <div class="navbar enlace">
              <div class="navbar-link">
                <a class="navbar-link estado-header" href="./antecedentes.html"><span tabindex="0">Información</span></a>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado-header" href="./recursos.html"><font color="#4b782e;"><span tabindex="0">Recursos</span></font></a>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado-header" href="./proyectos.html"><span tabindex="0">Proyectos</span></a>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado-header" href="./publicaciones.html"><span tabindex="0">Publicaciones</span></a>
              </div>
              <div class="navbar-link">             
                <a class="navbar-link estado-header" href="./personal.html"><span tabindex="0">Personal</span></a>
              </div>
              <div class="navbar-link">             
                <a class="navbar-link estado-header" href="./actualidad.html"><span tabindex="0">Actualidad</span></a>
              </div>
            </div>
          </div>
        </header>
        <div class="section_herramientas">
          <div class="flex-col">
            <div class="overlap-group-2">
              <h1 class="h1 titulosh1">HERRAMIENTAS Y MODELOS</h1>
              <img class="linea-1" src="img/line-3.svg" alt="" />
            </div>
            <div class="ficha_recursos ficha_recursos-1">
              <img class="img-herramientas" src="img/simfin.png" alt="" style="width: 190px; height: 220px; margin-right: 15px; margin-top: 50px;">
              <div class="overlap-group">
                <a href="">
                <div class="h1-1">
                  <div class="fint-esp grandenegrita"><span class="estado-grande" tabindex="0">SIMFIN</span></div>
                </a>
                  <img class="linea" src="img/linea-17.svg" alt="" />
                </div>
                <p class="texto_ficha_recursos enlacepie">
                  <span class="span enlacepie">CARACTERÍSTICAS<br /></span
                  ><span class="textoscorrido">Simplificador y detector léxico financiero<br /><br /></span
                  ><span class="span enlacepie">USO<br /></span><span class="textoscorrido">Libre uso (próximamente)</span>
                </p>
              </div>
            </div>
            <article class="ficha_recursos ficha_recursos-1">
              <img class="img-herramientas" src="img/acl-logo.png" alt="">
              <div class="overlap-group">
                <a href="http://drusila.lllf.uam.es/acl/" target="_blank">
                <div class="h1-6">
                  <div class="fint-esp grandenegrita"><span class="estado-grande" tabindex="0">ACL</span></div>
                </a>
                  <img class="linea" src="img/linea-17.svg" alt="" />
                </div>
                <p class="texto_ficha_recursos enlacepie">
                  <span class="span enlacepie">CARACTERÍSTICAS<br /></span
                  ><span class="textoscorrido">Herramienta de comparación de léxico<br /><br /></span
                  ><span class="span enlacepie">USO<br /></span><span class="textoscorrido">Libre uso</span>
                </p>
              </div>
            </article>
            <article class="ficha_recursos ficha_recursos-1">
              <img class="img-herramientas" src="img/iic-logo-1.png" alt="">
              <div class="overlap-group">
                <a href="http://cartago.lllf.uam.es/grampal/grampal.cgi" target="_blank">
                <div class="h1-7">
                  <div class="fint-esp grandenegrita"><span class="estado-grande" tabindex="0">Grampal</span></div>
                </a>
                  <img class="linea" src="img/linea-19.svg" alt="" />
                </div>
                <p class="texto_ficha_recursos enlacepie">
                  <span class="span enlacepie">CARACTERÍSTICAS<br /></span
                  ><span class="textoscorrido">Analizador morfosintáctico y lematizador del español<br /><br /></span
                  ><span class="span enlacepie">USO<br /></span><span class="textoscorrido">Libre uso</span>
                </p>
              </div>
            </article>
            <article class="ficha_recursos ficha_recursos-1">
              <img class="img-herramientas" src="img/iic-logo-1.png" alt="">
              <div class="overlap-group">
                <a href="http://shimoda.lllf.uam.es/ueda/lyneal/" target="_blank">
                <div class="h1-8">
                  <div class="fint-esp grandenegrita"><span class="estado-grande" tabindex="0">LYNEAL</span></div>
                </a>
                  <img class="linea" src="img/linea-21.svg" alt="" />
                </div>
                <p class="texto_ficha_recursos enlacepie">
                  <span class="span enlacepie">CARACTERÍSTICAS<br /></span
                  ><span class="textoscorrido">Herramienta para procesamiento y estudio de corpus<br /><br /></span
                  ><span class="span enlacepie">USO<br /></span><span class="textoscorrido">Libre uso</span>
                </p>
              </div>
            </article>
            <article class="ficha_recursos ficha_recursos-1">
              <img class="img-herramientas" src="img/iic-logo-1.png" alt="">
              <div class="overlap-group">
                <a href="http://elvira.lllf.uam.es/jabalin/" target="_blank">
                <div class="h1-9">
                  <div class="fint-esp grandenegrita"><span class="estado-grande" tabindex="0">Jabalín</span></div>
                </a>
                  <img class="linea" src="img/linea-23.svg" alt="" />
                </div>
                <p class="texto_ficha_recursos enlacepie">
                  <span class="span enlacepie">CARACTERÍSTICAS<br /></span
                  ><span class="textoscorrido">Analizador y generador morfológico de verbos en árabe<br /><br /></span
                  ><span class="span enlacepie">USO<br /></span><span class="textoscorrido">Libre uso</span>
                </p>
              </div>
            </article>
            <article class="ficha_recursos ficha_recursos-1">
              <img class="img-herramientas" src="img/iic-logo-1.png" alt="">
              <div class="overlap-group">
                <a href="http://www.lllf.uam.es/ESP/Diccionario_fra-esp.html" target="_blank">
                <div class="h1-2">
                  <div class="fint-esp grandenegrita"><span class="estado-grande" tabindex="0">Diccionario español-francés</span></div>
                </a>
                  <img class="linea" src="img/linea-23.svg" alt="" />
                </div>
                <p class="texto_ficha_recursos enlacepie">
                  <span class="span enlacepie">CARACTERÍSTICAS<br /></span
                  ><span class="textoscorrido">Diccionario de dificultades de uso de las preposiciones en el idioma francés<br /><br /></span
                  ><span class="span enlacepie">USO<br /></span><span class="textoscorrido">Libre uso</span>
                </p>
              </div>
            </article>
          </div>
          <div class="ficha_recursos-container ficha_recursos-1">
            <div class="ficha_recursos ficha_recursos-1">
              <img class="img-herramientas" src="img/fint-esp-blanco.jpg" alt="" style="width: 150px; height: 190px; margin-right: 35px;">
              <div class="overlap-group">
                <a href="http://leptis.lllf.uam.es/financiero/consulta" target="_blank">
                <div class="h1-1">
                  <div class="fint-esp grandenegrita"><span class="estado-grande" tabindex="0">FINT-ESP</span></div>
                </a>
                  <img class="linea" src="img/linea-17.svg" alt="" />
                </div>
                <p class="texto_ficha_recursos enlacepie">
                  <span class="span enlacepie">CARACTERÍSTICAS<br /></span
                  ><span class="textoscorrido">Herramienta extractora de términos financieros<br /><br /></span
                  ><span class="span enlacepie">USO<br /></span><span class="textoscorrido">Libre uso</span>
                </p>
              </div>
            </div>
            <div class="ficha_recursos ficha_recursos-1">
              <img class="img-herramientas" src="img/iic-logo-1.png" alt="">
              <div class="overlap-group">
                <a href="http://akira.lllf.uam.es:9090/" target="_blank">
                <div class="h1-2">
                  <div class="fint-esp grandenegrita"><span class="estado-grande" tabindex="0">WikiCorpora Composer</span></div>
                </a>
                  <img class="linea" src="img/linea-19.svg" alt="" />
                </div>
                <p class="texto_ficha_recursos enlacepie">
                  <span class="span enlacepie">CARACTERÍSTICAS<br /></span
                  ><span class="textoscorrido">Compilador de corpus a partir de artículos de la Wikipedia<br /><br /></span
                  ><span class="span enlacepie">USO<br /></span><span class="textoscorrido">Libre uso</span>
                </p>
              </div>
            </div>
            <div class="ficha_recursos ficha_recursos-1">
              <img class="img-herramientas" src="img/iic-logo-1.png" alt="">
              <div class="overlap-group">
                <a href="http://cartago.lllf.uam.es/corpus3/extractor.pl?menu=extractor" target="_blank">
                <div class="h1-3">
                  <div class="fint-esp grandenegrita"><span class="estado-grande" tabindex="0">Multimédica</span></div>
                </a>
                  <img class="linea" src="img/linea-21.svg" alt="" />
                </div>
                <p class="texto_ficha_recursos enlacepie">
                  <span class="span enlacepie">CARACTERÍSTICAS<br /></span
                  ><span class="textoscorrido">Incluye un extractor de términos médicos<br /><br /></span
                  ><span class="span enlacepie">USO<br /></span><span class="textoscorrido">Libre uso</span>
                </p>
              </div>
            </div>
            <div class="ficha_recursos ficha_recursos-1">
              <img class="img-herramientas" src="img/iic-logo-1.png" alt="">
              <div class="overlap-group">
                <a href="http://www.lllf.uam.es/ESP/Japones/japones.php" target="_blank">
                <div class="h1-4">
                  <div class="fint-esp grandenegrita"><span class="estado-grande" tabindex="0">Diccionario japonés</span></div>
                </a>
                  <img class="linea" src="img/linea-23.svg" alt="" />
                </div>
                <p class="texto_ficha_recursos enlacepie">
                  <span class="span enlacepie">CARACTERÍSTICAS<br /></span
                  ><span class="textoscorrido">Diccionario&nbsp;de&nbsp;las&nbsp;800&nbsp;palabras básicas&nbsp;del&nbsp;japonés&nbsp;con&nbsp;sonido.<br /><br /></span
                  ><span class="span enlacepie">USO<br /></span><span class="textoscorrido">Libre uso</span>
                </p>
              </div>
            </div>
            <div class="ficha_recursos ficha_recursos-1">
              <img class="img-herramientas" src="img/iic-logo-1.png" alt="">
              <div class="overlap-group">
                <a href="http://www.lllf.uam.es/modtag/" target="_blank">
                <div class="h1-5">
                  <div class="fint-esp grandenegrita"><span class="estado-grande" tabindex="0">Ojime</span></div>
                </a>
                  <img class="linea" src="img/linea-23.svg" alt="" />
                </div>
                <p class="texto_ficha_recursos enlacepie">
                  <span class="span enlacepie">CARACTERÍSTICAS<br /></span
                  ><span class="textoscorrido">Etiquetador de modalidad para el español y el japonés<br /><br /></span
                  ><span class="span enlacepie">USO<br /></span><span class="textoscorrido">Libre uso</span>
                </p>
              </div>
            </div>
            <div class="ficha_recursos ficha_recursos-1">
              <img class="img-herramientas" src="img/iic-logo-1.png" alt="">
              <div class="overlap-group">
                <a href="http://www.lllf.uam.es/ESP/sonidos/sonidos.php" target="_blank">
                <div class="h1-2">
                  <div class="fint-esp grandenegrita"><span tabindex="0">Base de datos acústica de preguntas</span></div>
                </a>
                  <img class="linea" src="img/linea-23.svg" alt="" />
                </div>
                <p class="texto_ficha_recursos enlacepie">
                  <span class="span enlacepie">CARACTERÍSTICAS<br /></span
                  ><span class="textoscorrido">Colección de preguntas orales recopilada a partir de la participación en el CLEF<br /><br /></span
                  ><span class="span enlacepie">USO<br /></span><span class="textoscorrido">Restringido</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <footer role="contentinfo" class="footer">
          <div class="overlap-group1">
            <div class="div_footer"></div>
            <p class="texto_footer textosfooter">
              Laboratorio de Lingüística Informática<br />C/ Francisco Tomás y Valiente, 1<br />Universidad Autónoma de
              Madrid<br />Ciudad Universitaria de Cantoblanco, 28049 Madrid<br />Web diseñada por Claudia Moreno Olmeda <a class="estado" href="https://www.instagram.com/_claugraf/" target="_blank"><span tabindex="0">(_claugraf) <img src="img/instagram-icon.png" alt="Ver perfil de Instagram" title="Ver perfil de Instagram" height="17"></span></a>
            </p>
            <img class="img_catedra" src="img/logo_catedra.png" alt="Cátedra de Lingüística Computacional UAM-IIC" title="Cátedra Lingüística Computacional UAM-IIC"/>
            <img class="img_icc" src="img/img-icc@2x.png" alt="Instituto de Ingeniería del Conocimiento (IIC)" title="Instituto de Ingeniería del Conocimiento (IIC)"/>
            <img
              class="img_logos_institucionales"
              src="img/img-logos-institucionales@2x.png"
              alt="Logos institucionales: Ministerio de Ciencia e Innovación / Financiado por la Unión Europea / Plan de Recuperación, TRansformación y Resiliencia / Agencia Estatal de Investigación" title="Logos institucionales: Ministerio de Ciencia e Innovación / Financiado por la Unión Europea / Plan de Recuperación, Transformación y Resiliencia / Agencia Estatal de Investigación"
            />
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
