<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>News - Computational Linguistics Laboratory</title>
    <meta name=keywords content="computational linguistics, natural language processing, NLP, laboratory, Universidad Autónoma de Madrid, UAM, Laboratorio de Lingüística Informática, LLI, research, intensive course, linguistic technologies, digital philology, annotation, discourse markers, sciences and letters"/>
    <meta name=description content="The Computational Linguistics Laboratory (LLI) offers workshops and courses on computational linguistics and digital philology, among others."/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1440, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="img/shortcut-icon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/actualidad.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="actualidad" />
    <div class="container-center-horizontal">
      <div class="actualidad screen">
        <header class="header">
          <div class="overlap-group">
            <a class="navbar-link estado" href="./home.html">
              <img tabindex="0" class="logo_uam_lli" src="img/logo-uam-lli@2x.png" alt="Go to Computational Linguistics Laboratory home page"/>
            </a>
            <div class="navbar enlace">
              <div class="navbar-link">
                <a class="navbar-link estado" href="./antecedentes.html"><span tabindex="0">Information</span></a>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado-header" href="./recursos.html"><span tabindex="0">Resources</span></a><a/>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado-header" href="./proyectos.html"><span tabindex="0">Projects</span></a>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado-header" href="./publicaciones.html"><span tabindex="0">Publications</span></a>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado-header" href="./personal.html"><span tabindex="0">Staff</span></a>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado-header" href="./actualidad.html"><font color="#4b782e;"><span tabindex="0">News</span></font></a>
              </div>
            </div>
          </div>
        </header>
        <div class="overlap-group2">
          <div class="h1">
            <h1 class="h1-1 titulosh1">NEWS</h1>
            <img class="linea-4" src="img/line-3.svg" alt="" />
          </div>
          <div class="section_actualidad"></div>
          <div class="rectangle-2 rectangle"></div>
          <p class="curso-intensivo-1 grandenegrita">
            <a class="estado" href="https://catedras.iic.uam.es/linguistica-computacional/taller-filologia-digital-sobre-el-quijote/" target="_blank" style="color: #ffffff;"><u><span tabindex="0">WORKSHOP: DIGITAL PHILOLOGY ON QUIXOTE: CREATION OF A DICTIONARY OF MOTTOS AND CHARACTERS - CHAIR UAM-IIC</span></u></a>
          </p>
          <p class="subtitulo enlace">DATES: 01/08/2023 TO 03/08/2023<br />SCHEDULE: 9 A.M. TO 2 P.M.</p>
          <a class="navbar-link estado" href="https://catedras.iic.uam.es/linguistica-computacional/taller-filologia-digital-sobre-el-quijote/" target="_blank">
            <img class="image-1 image" src="img/curso-quijote.jpg" alt="" />
            <img class="linea-1 linea-4" src="img/linea-22.svg" alt="" />
          </a>
          <div class="rectangle-3 rectangle"></div>
          <div class="rectangle-4 rectangle"></div>
          <p class="curso-intensivo-2 grandenegrita">
            <a class="estado" href="https://catedras.iic.uam.es/linguistica-computacional/curso-sobre-aplicaciones-de-las-tecnologia-linguisticas-2023/" target="_blank" style="color: #ffffff;"><u><span tabindex="0">INTENSIVE COURSE ON APPLICATIONS OF LANGUAGE TECHNOLOGIES (PART 1) (5TH EDITION)</span></u></a>
          </p>
          <p class="fecha-inicio-3105 enlace">STARTING DATE: 30/05/2023 <br />ENDING DATE: 30/06/2023</p>
          <a class="navbar-link estado" href="https://catedras.iic.uam.es/linguistica-computacional/curso-sobre-aplicaciones-de-las-tecnologia-linguisticas-2023/" target="_blank">
            <img class="image-3 image" src="img/cartel-ciatl-2023.png" alt="" />
          </a>
          <p class="charla-no-hay-que grandenegrita">
            LECTURE: "NO NEED TO CHOOSE: SCIENCE AND LETTERS IN COMPUTATIONAL LINGUISTICS"
          </p>
          <p class="address-1 address-2 enlace">11TH NOVEMBER 2021 - FROM 12:00 TO 13:00</p>
          <img class="image-4 image" src="img/image-3@2x.png" alt="" />
          <img class="linea-2 linea-4" src="img/linea-22.svg" alt="" />
          <img class="linea-3 linea-4" src="img/linea-22.svg" alt="" />
          <div class="rectangle-5 rectangle"></div>
          <p class="annotating-discourse grandenegrita">
            
            ANNOTATING DISCOURSE MARKERS AND KEY FINANCIAL TERMS IN SPANISH WITH TRANSFORMERS KEYNOTE LECTURE, LANCASTER
            UNIVERSITY.
          
          </p>
          <p class="address-3 address-2 enlace">15TH SEPTEMBER 2021 <br />FROM 11:10 TO 11:50 (BST)</p><!--
          <div class="botn">
            <div class="texto_boton botn">VER MÁS</div>
            <img class="flecha_blanca" src="img/flecha-blanca-2.svg" alt="flecha_blanca" />
          </div>
        -->
          <img class="image-5 image" src="img/image-3@2x.png" alt="" />
          <img class="linea-5 linea-4" src="img/linea-22.svg" alt="" />
          
          <img class="image-5 image" src="img/image-5@2x.png" alt="" />
        </div>
        <footer class="footer">
          <div class="overlap-group1">
            <div class="div_footer"></div>
            <p class="texto_footer textosfooter">
              Computational Linguistics Laboratory (LLI)<br />C/ Francisco Tomás y Valiente, 1<br />Universidad Autónoma de Madrid<br />Ciudad Universitaria de Cantoblanco, 28049 Madrid<br />Web designed by Claudia Moreno Olmeda <a class="estado" href="https://www.instagram.com/_claugraf/" target="_blank"><span tabindex="0">(_claugraf) <img src="img/instagram-icon.png" alt="Go to Instagram profile" title="Go to Instagram profile" height="17"></span></a>
            </p>
            <img class="img_catedra" src="img/logo_catedra.png" alt="Chair on Computational Linguistics UAM-IIC" title="Chair on Computational Linguistics UAM-IIC"/>
            <img class="img_icc" src="img/img-icc@2x.png" alt="Instituto de Ingeniería del Conocimiento (IIC)" title="Instituto de Ingeniería del Conocimiento (IIC)"/>
            <img
              class="img_logos_institucionales"
              src="img/img-logos-institucionales@2x.png"
              alt="Institutional logos: Spanish Ministry of Science and Innovation / Funded by the European Union / Plan for Recovery, Transformation and Resilience / State Research Agency (AEI)" title="Institutional logos: Spanish Ministry of Science and Innovation / Funded by the European Union / Plan for Recovery, Transformation and Resilience / State Research Agency (AEI)"
            />
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
