<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Linguistic Resources - Computational Linguistics Laboratory</title>
    <meta name=keywords content="computational linguistics, natural language processing, NLP, laboratory, Universidad Autónoma de Madrid, UAM, Laboratorio de Lingüística Informática, LLI, research, oral corpora, written corpora, tools, models, methodology, annotation, alignment"/>
    <meta name=description content="The linguistic resources developed by the Computer Linguistics Laboratory (LLI) include corpora, both oral and written, tools and models. A proprietary methodology has been developed for the elaboration of corpora."/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1440, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="img/shortcut-icon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/recursos.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="recursos" />
    <div class="container-center-horizontal">
      <div class="recursos screen">
        <header class="header">
          <div class="overlap-group">
            <a class="navbar-link estado" href="./home.html">
              <img tabindex="0" class="logo_uam_lli" src="img/logo-uam-lli@2x.png" alt="Go to Computational Linguistics Laboratory home page"/>
            </a>
            <div class="navbar enlace">
              <div class="navbar-link">
                <a class="navbar-link estado" href="./antecedentes.html"><span tabindex="0">Information</span></a>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado" href="./recursos.html"><font color="#4b782e;"><span tabindex="0">Resources</span></font></a>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado" href="./proyectos.html"><span tabindex="0">Projects</span></a>
              </div>
              <div class="navbar-link">
                <a class="navbar-link estado" href="./publicaciones.html"><span tabindex="0">Publications</span></a>
              </div>
              <div class="navbar-link">             
                <a class="navbar-link estado" href="./personal.html"><span tabindex="0">Staff</span></a>
              </div>
              <div class="navbar-link">             
                <a class="navbar-link estado" href="./actualidad.html"><span tabindex="0">News</span></a>
              </div>
            </div>
          </div>
        </header>
        <div class="section_recursos">
          <div class="overlap-group-container">
            <div class="overlap-group-1">
              <img class="linea" src="img/line-3.svg" alt="" />
              <h1 class="h1-3 titulosh1">LINGUISTIC RESOURCES</h1>
            </div>
            <a href="./corpues.html">
              <div class="overlap-group1"><div class="corpus titulosh1"><span class="estado-grande" tabindex="0">CORPUS</span></span></div></div>
            </a>
          </div>
          <a href="./herramientas.html">
            <div class="overlap-group2"><div class="herramientas titulosh1"><span class="estado-grande" style="margin-left: 40px" tabindex="0">TOOLS AND<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MODELS</span></div></div>
          </a>
        </div>
        <div class="section_servicios">
          <div class="overlap-group-2">
            <img class="linea" src="img/line-3.svg" alt="" />
            <div class="h1-3 titulosh1">SERVICES</div>
          </div>
          <div class="overlap-group3">
            <div class="texto_desarrollo_corpues">
              <p class="desarrollo-de-corpus enlace">
                <span class="span enlace">Spoken and Written Corpus Development<br /><br /></span
                ><span class="textoscorrido"
                  >The methodology of elaborating corpora is a systematized process developed by the Universidad Autónoma of Madrid, Spain.</span
                >
              </p>
              <p class="se-ofrece-a-travs-d textoscorrido">
                This service is offered through an agreement signed by the client and the LLI. The work includes all the stages of development: corpus design, data capture and subsequent text analysis, annotation and enrichment of texts.
              </p>
            </div>
            <div class="overlap-group1-1">
              <p class="diseo-preliminar-te enlacepie">
                <span class="span enlacepie"
                  >Preliminary design, taking into account the socio-linguistic features (age, sex, demographic data, linguistic origin, education, etc.) and the communicative context. </span
                ><span class="textoscorrido"
                  >(this information can be modified depending on the aims of the research and the design can be adapted to different variables)<br /><br /></span
                ><span class="span enlacepie">Data collection</span
                ><span class="textoscorrido"> (recordings, video captures, edition)<br /><br /></span
                ><span class="span enlacepie">Orthographic transcription</span
                ><span class="textoscorrido"> (including the normative variation as well as the real enunciation)</span>
              </p>
            </div>
            <div class="overlap-group2-1">
              <p class="anotacin-prosdica enlacepie">
                <span class="span enlacepie"
                  >Prosodic annotation, pause marks, vocalic lengthenings, overlaps, interruptions, entonation, etc.<br /><br />Alignment of text-sound units in sentences<br /><br />Semi-automatic morphological annotation</span
                ><span class="textoscorrido"> (morphological information and lemmas)<br /><br /></span
                ><span class="span enlacepie">Automatic phonological annotation</span>
              </p>
            </div>
          </div>
        </div>
        <div class="section_actas">
          <div class="overlap-group-3">
            <img class="linea" src="img/line-3.svg" alt="" />
            <div class="h1-3 titulosh1">PROCEEDINGS</div>
          </div>
          <a href="http://elvira.lllf.uam.es/clg8/actas/" target="_blank"
            ><p class="x8-congreso-de-lingstica-general enlace"><span class="enlace" tabindex="0">8º Congreso de Lingüística General (8º Conference on General Linguistics)</span></p>
          </a>
        </div>
        <footer class="footer">
          <div class="overlap-group1-2">
            <div class="div_footer"></div>
            <p class="texto_footer textosfooter">
              Computational Linguistics Laboratory (LLI)<br />C/ Francisco Tomás y Valiente, 1<br />Universidad Autónoma de Madrid<br />Ciudad Universitaria de Cantoblanco, 28049 Madrid<br />Web designed by Claudia Moreno Olmeda <a class="estado" href="https://www.instagram.com/_claugraf/" target="_blank"><span tabindex="0">(_claugraf) <img src="img/instagram-icon.png" alt="Go to Instagram profile" title="Go to Instagram profile" height="17"></span></a>
            </p>
            <img class="img_catedra" src="img/logo_catedra.png" alt="Chair on Computational Linguistics UAM-IIC" title="Chair on Computational Linguistics UAM-IIC"/>
            <img class="img_icc" src="img/img-icc@2x.png" alt="Instituto de Ingeniería del Conocimiento (IIC)" title="Instituto de Ingeniería del Conocimiento (IIC)"/>
            <img
              class="img_logos_institucionales"
              src="img/img-logos-institucionales@2x.png"
              alt="Institutional logos: Spanish Ministry of Science and Innovation / Funded by the European Union / Plan for Recovery, Transformation and Resilience / State Research Agency (AEI)" title="Institutional logos: Spanish Ministry of Science and Innovation / Funded by the European Union / Plan for Recovery, Transformation and Resilience / State Research Agency (AEI)"
            />
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>