/* screen - home */

.home {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 5845px;
  overflow: hidden;
  width: 1500px;
}

.home .overlap-group3 {
  align-items: flex-start;
  background-color: var(--white);
  box-shadow: 0px 4px 8px 1px #1975ba40;
  display: flex;
  gap: 30px;
  height: 192px;
  min-width: 1440px;
  padding: 35px 0;
}

.home .section_mapa {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 15.0px;
  margin-top: 132px;
  min-height: 597px;
  width: 1281px;
}

.home .mapa_lenguas_mundo {
  height: 578px;
  margin-right: 2px;
  object-fit: cover;
  width: 1279px;
}

.home .pie_mapa {
  color: var(--primary-color);
  font-weight: 300;
  line-height: normal;
  margin-right: 74px;
  min-height: 19px;
  min-width: 273px;
}

.home .section_proyectos_curso {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-left: 8.0px;
  margin-top: 189px;
  min-height: 735px;
  width: 1222px;
}

.home .h1 {
  gap: 22px;
  min-height: 77px;
  width: 431px;
}

.home .proyectos-en-curso {
  color: var(--primary-color);
  font-weight: 700;
  line-height: normal;
  min-height: 47px;
}

.home .line {
  height: 8px;
  margin-left: 1px;
  width: 127px;
}

.home .flex-row {
  align-items: flex-start;
  display: flex;
  height: 614px;
  margin-left: 1px;
  min-width: 1221px;
}

.home .ficha_proyecto {
  align-items: flex-start;
  display: flex;
  min-width: 354px;
}

.home .overlap-group {
  height: 501px;
  position: relative;
  width: 354px;
}

.home .div-blanco-herramientas {
  height: 320px;
  position: relative;
  width: 500px;
}

.home .img-herramientas {
  height: 266px;
  position: relative;
  width: 416px;
  margin-top: 27px;
  margin-right: 42px;
}

.home .div_azul {
  background-color: var(--primary-color);
  box-shadow: 2px 4px 8px 2px #1975ba40;
  height: 198px;
  left: 0;
  position: absolute;
  top: 303px;
  width: 354px;
}

.home .texto_ficha {
  color: var(--white);
  cursor: pointer;
  font-weight: 700;
  left: 38px;
  line-height: normal;
  position: absolute;
  top: 330px;
  width: 296px;
}

.home .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 53px;
  margin-left: 74px;
  min-height: 614px;
  width: 354px;
}

.home .botn {
  margin-left: 16.0px;
}

.home .texto_boton {
  color: var(--white);
  font-weight: 500;
  line-height: normal;
  margin-top: -1.00px;
  width: fit-content;
}

.home .flecha_blanca {
  height: 22.09px;
  min-width: 35px;
}

.home .ficha_proyecto3 {
  align-items: flex-start;
  display: flex;
  margin-left: 85px;
  min-width: 354px;
}

.home .section_recursos_linguisticos {
  align-items: flex-start;
  background-color: var(--navy-blue-2);
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  min-height: 2470px;
  padding: 114px 112px;
  width: 1440px;
}

.home .h1-1 {
  gap: 22px;
  margin-left: 2px;
  min-height: 77px;
  width: 482px;
}

.home .recursos-lingsticos {
  color: var(--primary-color);
  font-weight: 700;
  line-height: normal;
  min-height: 47px;
}

.home .ficha_recursos-1 {
  margin-top: 89px;
}

.home .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 320px;
  padding: 51.8px 62px;
  width: 726px;
}

.home .h1-2 {
  gap: 21px;
  min-height: 62px;
  width: 157px;
}

.home .fint-esp {
  color: var(--white);
  font-weight: 700;
  line-height: normal;
  min-height: 33px;
  width: 155px;
}

.home .linea {
  height: 8px;
  width: 127px;
}

.home .texto_ficha_recursos {
  color: var(--white);
  font-weight: 400;
  line-height: normal;
  min-height: 123px;
  width: 543px;
}

.home .ficha_recursos {
  margin-top: 98px;
}

.home .h1-3 {
  gap: 21px;
  min-height: 62px;
  width: 157px;
}

.home .h1-4 {
  gap: 21px;
  min-height: 62px;
  width: 157px;
}

.home .botn-1 {
  align-self: center;
  margin-left: 56.0px;
  margin-top: 60px;
}

.home .section_localizacin {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 44px;
  height: 890px;
  margin-right: -16px;
  margin-top: 150px;
  min-width: 1341px;
}

.home .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 890px;
  width: 866px;
}

.home .h1-5 {
  gap: 22px;
  min-height: 77px;
  width: 282px;
}

.home .localizacin {
  color: var(--primary-color);
  font-weight: 700;
  line-height: normal;
  min-height: 47px;
}

.home .foto_mapa_localizacion {
  height: 650px;
  margin-left: 4px;
  margin-top: 51px;
  object-fit: cover;
  width: 862px;
}

.home .footer_localizacion {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-left: 3px;
  margin-top: 30px;
  min-height: 82px;
  width: 756px;
}

.home .plano-del-campus-de-cantoblanco {
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 700;
  line-height: normal;
  text-decoration: underline;
  width: 364px;
}

.home .la-situacin-del-lab {
  color: var(--primary-color);
  font-weight: 400;
  line-height: normal;
  width: 752px;
}

.home .texto_localizacin {
  color: var(--primary-color);
  font-weight: 400;
  line-height: normal;
  margin-top: 93px;
  width: 429px;
}

.home .footer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-top: 167px;
  min-width: 1440px;
  width: auto;
}

.home .overlap-group-2 {
  height: 180px;
  position: relative;
  width: 1440px;
}

.home .botn-2 {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 16px 36px;
  width: 234px;
}

.home .ficha_recursos-2 {
  align-items: flex-start;
  background-color: var(--white);
  box-shadow: 2px 4px 8px 2px #1975ba40;
  display: flex;
  height: 320px;
  justify-content: flex-end;
  min-width: 1214px;
}

.home .h1-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
