:root { 
  --black: #000000;
  --navy-blue: #1975ba40;
  --navy-blue-2: #1975ba0d;
  --navy-blue-3: #1975ba1a;
  --primary-color: #1975ba;
  --white: #ffffff;
  --white-2: #ffffff01;
  --green: #4b782e;
  --orange: #ba5119;
 
  --font-size-l: 24px;
  --font-size-m: 20px;
  --font-size-s: 16px;
  --font-size-xl: 32px;
  --font-size-xs: 12px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 40px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.botn {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.enlacepie {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.piefoto {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
}

.grandenegrita {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.enlace {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.titulosh1 {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.titulosh2 {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.textosgrande {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.textoscorrido {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.textosfooter {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.celdasheader {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0;
}

.celdaslateral {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.inter-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.estado:hover {
  color: #cc5c16;
  font-size:102%;
}

.estado-blanco:hover {
  font-size:102%;
}

.estado-grande:hover {
  font-size:105%;
}

.estado-publicaciones:hover {
  font-size:110%;
}

.estado-header:hover {
  font-size:107%;
  color: #cc5c16;
}